$hero-background-mob: "../../../img/hero.jpg";
$hero-background-desk: "../../img/hero.jpg";


.hero{
    position: relative;
    background-image: url($hero-background-desk);
    background-color: black;
    background-size:cover;
    background-position: center;
    width: 100vw;
    height: 400px;
    @include breakpoint($b-tab-desk) {
        height: 100vh;
    }
    &__label{
        display:none;
        @include breakpoint($b-tab-desk) {
            font-family: 'ABChanel Corpo Semi Bold';
            position: absolute;
            bottom: 72px;
            width: 100%;
            display: flex; 
            flex-direction: column;
            align-items: center;
        }
        p{
            font-size: 20px;
            line-height: 26px;
            margin:0px;
            width: 335px;
            font-weight: 600;
            @include breakpoint($b-tab-desk) {
                font-size: 30px;
                line-height: 36px;
                width: 796px;
            }

        }
        
    }
}