.slider{
    position: relative;
    margin: 72px auto 36px;
    @include breakpoint($b-tab-desk) {
        margin: 126px auto 63px;
    }
    &__pages{
        width: 200vw;
        display: flex;
    }
    &__page{
        width:100vw; 
        &__content{
            width: 90vw;
            margin:auto ;
            @include breakpoint($b-tab-desk) {
                width: 80vw;
                display: flex;
                align-items: center;
                justify-content: space-around;
            }
           
        }

        &__img{
            width: 335px;
            height: 446px;
            @include breakpoint($b-tab-desk) {
                width: 487px;
                height: 550px;
            }
            @include breakpoint($b-desk) {
                width: 487px;
                height: 600px;
            }
            @include breakpoint($b-xlarge) {
                width: 487px;
                height: 649px;
            }
        }
        
        &__infos{
            width: 90vw;
            height: 160px;
            @include breakpoint($b-tab-desk) {
                width: 384px;
                height: unset;
            }
            &__desc{
                height: 45px;
                @include breakpoint($b-tab-desk) {
                   height: unset;
                }
            }
        h2 {
            font-size: 20px;
            line-height: 26px;
            color: map-get($map: $colors, $key: pink );
            margin-bottom: 9px;
            @include breakpoint($b-tab-desk) {
                font-size: 30px;
                line-height: 36px;
            }
        }
        p{
            font-size: 14px;
            font-weight: 300;
            margin-bottom: 18px;
            @include breakpoint($b-tab-desk) {
                width: 384px;
            }
        }
        &__titles{
            height: 50px;
            @include breakpoint($b-tab-desk) {
                height: unset;
            }
        }
       

        &__link-section{
            text-align: center;
            margin:auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            
            &__link{
                font-family: 'ABChanel Corpo Semi Bold';
                font-size: 11px;
                font-weight: 600;
                line-height: 18.04px;
                &:hover ~ .slider__page__infos__link-section__underline {
                    opacity: 1;
                    transition: opacity 0.5s ease-in-out;
                }
            }  
            &__underline{
                border-bottom: 1px solid white;
                width: 85px;
                height: 2px;
                opacity: 0;
            }
            
        }
    }
       
   
    }
    &__count{
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1px;;
        font-weight: 600;
        font-family: 'ABChanel Corpo Semi Bold';
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 42px;
        margin: 18px auto 0;
        &__left{
            width:10px;
        }

    }
    &__nav{
        
        position: absolute;
        bottom: 4px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        @include breakpoint($b-tab-desk) {
            top: 50%;
        }
        &__arrows{
            z-index: 99;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 20%;
            @include breakpoint($b-tab-desk) {
                width: 85%;
            }
            @include breakpoint($b-xlarge) {
                width: 78%;
            }
            @include breakpoint($b-xxlarge) {
                width: 75%;
            }

            div{
                width: 8px; 
                height: 8px;
                @include breakpoint($b-tab-desk) {
                    width: 12px; 
                    height: 12px;
                }
            }
            &__right{
                border: 1px solid white;
                border-left: none;
                border-bottom: none;
                transform: rotate(45deg);
                &:hover{
                    cursor: pointer;
                }
            }
            &__left{
                border: 1px solid white;
                border-left: none;
                border-bottom: none;
                transform: rotate(-135deg);
                &:hover{
                    cursor: pointer;
                }
            }
        }
        
    }
}